@font-face {
  font-family:'yekan';
  src: url('../src//asset/IRANSansWeb.ttf');
}
@font-face {
  font-family:'Saad';
  src: url('../src//asset/Saad.ttf');
}
@font-face {
  font-family:'Aria';
  src: url('../src//asset/Aria-Regular.ttf');
}
@font-face {
  font-family:'AriaExtraBold';
  src: url('../src//asset/Arial//Aria-ExtraBold.ttf');
}
@font-face {
  font-family:'AriaSemiBold';
  src: url('../src//asset/Arial//Aria-SemiBold.ttf');
}
@font-face {
  font-family:'AriaUltraBold';
  src: url('../src//asset/Arial//Aria-UltraBold.ttf');
}
@font-face {
  font-family:'IranSans';
  src: url('../src//asset/IRANSansWeb.ttf');
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    direction: rtl;
    font-family: 'yekan !important';
   
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  direction: rtl;
  font-family: 'yekan';
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.TextContainer{
  width: 90%;
  height:90%;
  margin: 0 auto;
  background-color: #154BB4;
  border-radius: 0 100px 0 0 ;
  position: relative;
  right: 200px;
  top: 20px;
  padding: 50px  30px;
}

@media screen and (max-width: 600px) {
  .TextContainer {
    right: 0px;
    top: 0px;
    
    /* display: none; */
  }
  .TmainConiner{
    flex-direction: row-reverse;
  }
  .yourImagineContainer{
    right: 0px !important;
  }
  .textAreaContainer{
    padding: 0px 10px !important;
    width: 90% !important;
    background-color: 'red' !important;
  }
}
/* textAreaContainer */
.sliderText{
  width: 590px;
  height: 575px;
  right: 150px;
  top: 50px;
  border-radius: 0px 100px 0px 0px;
background: #154BB4;
  
}



/* advertising ---  */

.itemsContainer{
  width: 400px;
  height: 200px;
  position: absolute;
  bottom: 50px;
}

.FooterContainer{
  background: url('../src//asset/FooterIcons//FooterBack.png') no-repeat   ;
  background-size: cover;
  background-position: center center;
}

.navbarGraStyle{
  background-color: 'red !important';
}